/* 
    Document   : fonts
    Created on : 30 août 2011, 15:23:56
    Author     : bdemogue
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
    font-family: 'SansaStdBold';
    src: url('fonts/sansa-bold-webfont.eot');
    src: url('fonts/sansa-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sansa-bold-webfont.woff') format('woff'),
         url('fonts/sansa-bold-webfont.ttf') format('truetype'),
         url('fonts/sansa-bold-webfont.svg#Sansa Std Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SansaStdLight';
    src: url('fonts/sansa-light-webfont.eot');
    src: url('fonts/sansa-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sansa-light-webfont.woff') format('woff'),
         url('fonts/sansa-light-webfont.ttf') format('truetype'),
         url('fonts/sansa-light-webfont.svg#Sansa Std Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SansaStdNormal';
    src: url('fonts/sansa-normal-webfont.eot');
    src: url('fonts/sansa-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sansa-normal-webfont.woff') format('woff'),
         url('fonts/sansa-normal-webfont.ttf') format('truetype'),
         url('fonts/sansa-normal-webfont.svg#Sansa Std Normal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SansaStdSemiBold';
    src: url('fonts/sansa-semibold-webfont.eot');
    src: url('fonts/sansa-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sansa-semibold-webfont.woff') format('woff'),
         url('fonts/sansa-semibold-webfont.ttf') format('truetype'),
         url('fonts/sansa-semibold-webfont.svg#Sansa Std SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'SansaStdBlack';
    src: url('fonts/sansa-black-webfont.eot');
    src: url('fonts/sansa-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sansa-black-webfont.woff') format('woff'),
         url('fonts/sansa-black-webfont.ttf') format('truetype'),
         url('fonts/sansa-black-webfont.svg#Sansa Std Black') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dincond-regularregular';
    src: url('fonts/FF_DIN_Condensed_Regular-webfont.eot');
    src: url('fonts/FF_DIN_Condensed_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/FF_DIN_Condensed_Regular-webfont.woff2') format('woff2'),
         url('fonts/FF_DIN_Condensed_Regular-webfont.woff') format('woff'),
         url('fonts/FF_DIN_Condensed_Regular-webfont.ttf') format('truetype'),
         url('fonts/FF_DIN_Condensed_Regular-webfont.svg#dincond-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dincond-boldbold';
    src: url('fonts/FF_DIN_Condensed_Bold-webfont.eot');
    src: url('fonts/FF_DIN_Condensed_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/FF_DIN_Condensed_Bold-webfont.woff2') format('woff2'),
         url('fonts/FF_DIN_Condensed_Bold-webfont.woff') format('woff'),
         url('fonts/FF_DIN_Condensed_Bold-webfont.ttf') format('truetype'),
         url('fonts/FF_DIN_Condensed_Bold-webfont.svg#dincond-boldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dinregular';
    src: url('fonts/FF_DIN_Regular-webfont.eot');
    src: url('fonts/FF_DIN_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/FF_DIN_Regular-webfont.woff2') format('woff2'),
         url('fonts/FF_DIN_Regular-webfont.woff') format('woff'),
         url('fonts/FF_DIN_Regular-webfont.ttf') format('truetype'),
         url('fonts/FF_DIN_Regular-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dincond-mediumregular';
    src: url('fonts/FF_DIN_Condensed_Medium-webfont.eot');
    src: url('fonts/FF_DIN_Condensed_Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/FF_DIN_Condensed_Medium-webfont.woff2') format('woff2'),
         url('fonts/FF_DIN_Condensed_Medium-webfont.woff') format('woff'),
         url('fonts/FF_DIN_Condensed_Medium-webfont.ttf') format('truetype'),
         url('fonts/FF_DIN_Condensed_Medium-webfont.svg#dincond-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dincond-lightregular';
    src: url('fonts/FF_DIN_Condensed_Light-webfont.eot');
    src: url('fonts/FF_DIN_Condensed_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/FF_DIN_Condensed_Light-webfont.woff2') format('woff2'),
         url('fonts/FF_DIN_Condensed_Light-webfont.woff') format('woff'),
         url('fonts/FF_DIN_Condensed_Light-webfont.ttf') format('truetype'),
         url('fonts/FF_DIN_Condensed_Light-webfont.svg#dincond-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dincond-boldalternatebold';
    src: url('fonts/FF_DIN_Condensed_Bold_Alternate-webfont.eot');
    src: url('fonts/FF_DIN_Condensed_Bold_Alternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/FF_DIN_Condensed_Bold_Alternate-webfont.woff2') format('woff2'),
         url('fonts/FF_DIN_Condensed_Bold_Alternate-webfont.woff') format('woff'),
         url('fonts/FF_DIN_Condensed_Bold_Alternate-webfont.ttf') format('truetype'),
         url('fonts/FF_DIN_Condensed_Bold_Alternate-webfont.svg#dincond-boldalternatebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dincond-blackregular';
    src: url('fonts/FF_DIN_Condensed_Black-webfont.eot');
    src: url('fonts/FF_DIN_Condensed_Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/FF_DIN_Condensed_Black-webfont.woff2') format('woff2'),
         url('fonts/FF_DIN_Condensed_Black-webfont.woff') format('woff'),
         url('fonts/FF_DIN_Condensed_Black-webfont.ttf') format('truetype'),
         url('fonts/FF_DIN_Condensed_Black-webfont.svg#dincond-blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

