<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
      <security>
         <ipSecurity allowUnlisted="false" denyAction="NotFound">
            <add allowed="true" ipAddress="13.94.208.96" subnetMask="255.255.255.0" />
         </ipSecurity>
      </security>
  </system.web>
</configuration>